
body {
    margin-left: 200px;
    -webkit-box-align: center;
    background-color: antiquewhite;
    align-items: center;
}

h1 {
    background-color: slategrey;

    text-align: center;
    color: white;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding: 20px;
    width: 80%;
    border-color: darkslategrey;
    border-width: 25px;
    border-style:outset;
}

#pyramid {
    -webkit-box-align: center;
    background-color: rgb(43, 226, 226);
    white-space: pre;
    text-align: right;
    padding-right: 40%;
}

label {
    font-weight: bold;
}

div {
    white-space: pre;    
}

table {
    background-color: slategrey;
    
    margin-left: 85px;
    align-self: center;
    text-align: right; 
    border-bottom-style: solid;    
    width: 70%;
    border-color: darkslategrey;
    border-width: 20px;
    border-style:outset;

}

th {
    margin: 0px;
    padding: 5px;
    padding-top: 15px;
    color: white;
    -webkit-box-align: center;
    background-color: slategrey;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
}

p {
    font-weight: bold;
}

option {
    font-size: 20px;
    font-weight: bolder;
}
.pyramid-row {
    background-color: rgb(43, 226, 226);
    font-size: 14px;
    font-weight: bolder;
}

.top-section {
    border:10px;
}

.brick-type {
    font-size: 20px;
    font-weight: bolder;
}

.brick-type-label {
    margin-left: 175px;
    font-weight: bolder;
}

.top-row {
    margin-right: 50px;
    -webkit-box-align: center;
}

.span-for-height {
    margin-right: 90px;
}

.slider {
    height: 2px;
    background-color: silver;
    border-radius: 10px;

    
}
