{% extends "base.html" %}


{% block content %}

<script onload="drawOnload();" ></script>
<br>


    <!-- Table created to add better formatting -->
    <table>
        <tr class="top-row">
            <th>
                <label for="BrickType" class="brick-type-label">Brick Symbol
                <select id="BrickType" onchange="handleSelected()" >
                    <option value="#"selected>#</option>
                    <option value="@">@</option>
                    <option value="X">X</option>
                    <option value="$">$</option>
                </select> 
            </label>  
            </th>
            <th>          
            <label for="row_height" class="how-high">How high?
                <input type="range" id="row_height" class="slider" min="1" max="20"  oninput="setHeight()">    
                <span id="height" class="span-for-height">8</span>  
            </label>    
            </th>
            
        </tr>

    <tr  clas="pyramid-row">
        <td colspan="2">
            <div id="pyramid" class="pyramid"></div>            
        </td>
    </tr>


</table>


{% endblock %}