{% extends "base.html" %}


{% block content %}

<script onload="drawOnload();" ></script>
<br>


<table>
    <tr class="top-row">
        <td>
            <label for="BrickType">Brick Symbol
                <select id="BrickType" onchange="handleSelected()">
                    <option value="#">#</option>
                    <option value="@">@</option>
                    <option value="X">X</option>
                    <option value="$">$</option>
                </select> 
            </label>
        </td>
        <td>
            <label for="row_height" class="how-high">How high?</label>
        </td>
        <td>
            <input type="range" id="row_height" min="1" max="20"  oninput="setHeight()">    
        </td>
        <td>
            <span id="height">8</span>      
        </td>
        
    </tr>

    <tr>
        <td colspan="3">
            <div id="pyramid" class="pyramid"></div>            
        </td>
    </tr>


</table>
    <div class="top-section">

    </div>


{% endblock %}